@model IEnumerable<Interest.Models.Pin>

@{
    ViewBag.Title = "HomePage";
}

<h2>Interest</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container" ng-controller="interestCtrl as ctrl">
    <div ng-repeat="interest in interests" class="col-md-4 col-s-6 text-center" ng-class="{ 'clearfix' : $index % 3 == 0 }">
        <img ng-src="{{interest.ImageLink}}" /> <br />
        <a ng-href="{{interest.url}}">View on IMDB</a>
        <p>{{interest.Notes}}</p>
    </div>
</div>

    <form name="addPin" ng-submit="ctrl.addPin(interest)" ng-controller="submitCtrl as ctrl" novalidate>
        <h4>Create a pin!</h4>
        @*<fieldset class="form-group"> Needs to be an upload for image
            <input ng-model="interest.ImageLink" ng-value="ImageLink" type="url" class="form-control" placeholder="www.imdb.org/..." title="url" required />
        </fieldset>*@
        <fieldset class="form-group">
            <textarea ng-model="interest.Notes" ng-value="Notes" class="form-control" placeholder="Write a short description." title="Notes" required></textarea>
        </fieldset>
        <fieldset class="form-group">
            <input ng-model="interest.url" ng-value="url" class="form-control" placeholder="www.imdb.org/..." title="url" required />
        </fieldset>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
        </fieldset>
    </form>
@*<div id="form-content" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Send me a message</h3> 
        </div>
        <div class="modal-body">
            <form class="contact" name="contact">
                <label class="label" for="name">Your Name</label><br>
                <input type="text" name="name" class="input-xlarge"><br>
                <label class="label" for="email">Your E-mail</label><br>
                <input type="email" name="email" class="input-xlarge"><br>
                <label class="label" for="message">Enter a Message</label><br>
                <textarea name="message" class="input-xlarge"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Send!" id="submit">
            <a href="#" class="btn" data-dismiss="modal">Nah.</a>
        </div>
    </div>
    <div id="thanks"><p><a data-toggle="modal" href="#form-content" class="btn btn-primary btn-large">Modal powers, activate!</a></p></div>*@

@section scripts {
    <script>
        (function () {
            var app = angular.module('inturests', []);

            app.controller('interestCtrl', function ($scope, $http) {
                this.interests = [];
                $http.get('@Url.Action("List", "Interest")').success(function (data) {
                    $scope.interests = data;
                });
            });
            app.controller('submitCtrl', function ($scope, $http) {
               // this.pin = {};
                this.addPin = function (interest) {
                    console.log(interest);
                    $http.post('/Interest/New/', { pin: interest });
                    $scope.interest = {};
                };
            });
        })();

        //$(document).ready(function () {
        //    $("input#submit").click(function () {
        //        $.ajax({
        //            type: "POST",
        //            url: "process.php", //process to mail
        //            data: $('form.contact').serialize(),
        //            success: function (msg) {
        //                $("#thanks").html(msg) //hide button and show thank you
        //                $("#form-content").modal('hide'); //hide popup
        //            },
        //            error: function () {
        //                alert("failure");
        //            }
        //        });
        //    });
        //});
    </script>
}
