@model IEnumerable<Interest.Models.Pin>

@{
    ViewBag.Title = "HomePage";
}

<h2>Interest</h2>

<p>
    <input type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" value="Create a new pin" />
</p>
<div ng-controller="interestCtrl as ctrl">
    <div class="container">
        <div ng-repeat="interest in interests track by $index" class="col-md-4 col-xs-6 text-center" ng-class="{ 'clearfix' : $index % 3 == 0 }">
            <img ng-src="{{interest.ImageLink}}" /> <br />
            <a ng-href="{{interest.url}}">View on IMDB</a>
            <p>{{interest.Notes}}</p>
            <button ng-model="ID" ng-value ="ID" class="btn btn-info btn-sm" ng-click="ctrl.deletePin(interest.ID, interest)">Delete this pin</button>
            <br /><br /><br /><br /><br /><br />
        </div>
    </div>

    <div id="myModal" class="modal fade" role="form">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form name="newForm" ng-submit="ctrl.addPin(ImageLink, url, Notes)" enctype="multipart/form-data">
                        <h4>Create a pin!</h4>
                        <fieldset class="form-group">
                            <p>Url for your image: </p>
                            <input name="ImageLink" ng-model="ImageLink" ng-value="ImageLink" class="form-control" placeholder="www.google.com/images..." title="url" />
                        </fieldset>
                        <fieldset class="form-group">
                            <p>Please enter some notes about this pin.</p>
                            <textarea name ="Notes" ng-model="Notes" ng-value="Notes" class="form-control" placeholder="Write a few notes..." title="Notes"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <p>Url for more details about your pin.</p>
                            <input name="url" ng-model="url" ng-value="url" class="form-control" placeholder="www.imdb.org/..." title="url" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-left" value="Submit" />
                            <input type="button" class="btn btn-default pull-right" data-dismiss="modal" value="Close" />
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div id="form-content" class="modal hide fade in" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Send me a message</h3>
        </div>
        <div class="modal-body">
            <form class="contact" name="contact">
                <label class="label" for="name">Your Name</label><br>
                <input type="text" name="name" class="input-xlarge"><br>
                <label class="label" for="email">Your E-mail</label><br>
                <input type="email" name="email" class="input-xlarge"><br>
                <label class="label" for="message">Enter a Message</label><br>
                <textarea name="message" class="input-xlarge"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" type="submit" value="Send!" id="submit">
            <a href="#" class="btn" data-dismiss="modal">Nah.</a>
        </div>
    </div>
    <div id="thanks"><p><a data-toggle="modal" href="#form-content" class="btn btn-primary btn-large">Modal powers, activate!</a></p></div>*@

@section scripts {
    <script>
        (function () {
            var app = angular.module('inturests', []);

            app.controller('interestCtrl', function ($scope, $http) {
                this.interests = [];
                $http.get('@Url.Action("List", "Interest")').success(function (data) {
                    $scope.interests = data;
                });

                this.deletePin = function (ID, item) {
                    $http.post('@Url.Action("Delete", "Interest")', { ID }).success(function () {
                        var index = $scope.interests.indexOf(item);
                        $scope.interests.splice(index, 1);
                    });
                };

                this.addPin = function (ImageLink, url, Notes) {
                    $http.post('@Url.Action("New", "Interest")', { ImageLink, url, Notes }).success(function (data) {
                        $scope.interests.push(data);
                        $('#myModal').modal('hide');
                        $scope.Notes = '';
                        $scope.url = '';
                        $scope.ImageLink = '';
                    });
                };

            });
            //app.controller('submitCtrl', function ($scope, $http) {
            //   // this.pin = {};

            //});
        })();

        //$(document).ready(function () {
        //    $("input#submit").click(function () {
        //        $.ajax({
        //            type: "POST",
        //            url: "process.php", //process to mail
        //            data: $('form.contact').serialize(),
        //            success: function (msg) {
        //                $("#thanks").html(msg) //hide button and show thank you
        //                $("#form-content").modal('hide'); //hide popup
        //            },
        //            error: function () {
        //                alert("failure");
        //            }
        //        });
        //    });
        //});
    </script>
}
